.mypageButton {
  width: 66px;
  height: 66px;
  padding: 12px;
  display: flex;
  cursor: pointer;
  border: none;
  align-items: center;
  text-align: left;
  background-color: #ffffff;
  margin-bottom: 30px;
  position: relative;

}

.mypageUserName {
  display: none;
}

.mypageUserImage {
  display: flex;
  align-items: center;
}

.mypageUserImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media all and (min-width: 1300px) {
  .mypageButton {
    background-color: #ffffff;
    width: 258px;
  }
  .mypageUserName {
    margin: 0 12px;
    display: inline-block;
  }
  .mypageUserName > div:first-child {
    font-weight: bold;
  }
}

.mypageButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 33px;
}
