.clubContainer{
  border : 0px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  margin : 10px;
  height: 150px;
  align-items: center;
  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homeText {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding: 12px 16px;
  text-align: center;
  background-color: white;
}


.clubTitle{
  margin-top :30px;
  font-weight: bold;
  font-size: 30px;
  border : 0px;
  border-radius: 10px;
  background-color: black;
  color : white;
  padding : 10px;
  opacity: 0.5;
}


.clubOtherElse{
  margin-top : -24px;
  border : 0px;
  border-radius: 10px;
  background-color: black;
  opacity: 0.5;

  color : white;
  padding : 10px;
}


