.box {
  display: flex;
  background-color: white;
  margin: 10px;
  width: 580px;
  height: 260px;
  border-color: rgb(113, 115, 115);
  border-style: solid;
  border-radius: 10px;
}

.innerbox {
  margin: auto;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
}

.headtext {
  text-align: center;
}

.pagebackgroundcolor {
  background-color: rgb(118, 114, 114);
  height: 100%;
}