.container{
  display: flex;
  flex-direction: column;
}
.postConttainer{
  margin-top :20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2개의 열, 각 열은 사용 가능한 공간의 1/2을 차지 */
  grid-gap: 0px; /* 아이템 간의 간격을 20px로 설정 */
  /* 필요한 경우 여기에 추가적인 스타일을 적용 */

}




.postbox{
  /* display: flex; */
  background-color: white;
  border-radius: 10px;
  width: 90%;
  /* max-height: 800px; 최대 높이 설정 */
  overflow-y: auto; 
  margin: 15px;
  padding: 15px; /* 내용과의 간격을 위한 패딩 추가 */
  display: flex;
  flex-direction: column;
}

.postbox.auto-height {
  height: auto;
}

.imageContainer{
  width: 100%;
  height: 345px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image{
  display: block;
}
.memberContainer{
  display : flex;
  width: 100%;
  flex-direction: row;
}
.profileImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.profile{
  font-size:15px;
  margin-top:30px;
  border : 1px #f3d3d3;
}

.contentContainer{
  color: gray;
  font-size: 14px;
  margin-top:10px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.postButtom{
  margin: 15px;
  color: gray;
}