
.policy_table {
  text-align: center;
}

.headings, .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em;
}

.heading {
  color: gray;
  flex-basis: 33.333%;
  font-weight: bold;
}

.policy {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  margin-left : 10px;
  margin-right: 10px;
}
