.homeFixed {
  position: sticky;
  top: 0px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(12px);
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 1;
}

.homeText {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding: 12px 16px;
  text-align: center;
}

.homeTab {
  height: 53px;
  display: flex;
  cursor: pointer;
}

.homeTab > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeTab > div:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.tabIndicator {
  height: 4px;
  align-self: center;
  background-color: rgb(29, 155, 240);
  min-width: 56px;
  width: 56px;
  position: absolute;
  bottom: 0px;
  border-radius: 9999px;
}
