/* RecommendUsers.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.navcontainer, .container {
  border-bottom: 1px solid #eaeaea;
}

.emptybox, .emptygoal, .nickname, .handle, .followingCount, .followerCount, .goalDays {
  padding: 8px;
  text-align: center;
}

.profileImage {
  border-radius: 30px; /* 원형 이미지를 위한 CSS */
}

/* 나머지 스타일을 여기에 추가하십시오. */
