/* components/FollowButton.module.css */
.locate {
  margin: auto;
}

.button {
  background-color: #1DA1F2; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-size: 10px;
}

.button:hover {
  background-color: #1991db;
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.errorfont {
  font-size: 8px;
  color: red;
}

