.main {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.main img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.content {
  margin-left: 20px;
  width: 400px;
}

.post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}


.FollowBtn{
  border-color: transparent;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}